
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.initial{
    background-color: #1F2937;
}

.sticky{
    padding: 16px;
}

header{
    display: flex;
    justify-content:space-around;
}

.nav-links{
    position: sticky;
    top: 0;
    overflow: hidden;
}
nav a{
    padding: 1.5em;
    text-decoration: none;
    color: #F9FAF8;
    font-size: 24px;
    font: Roboto;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;

}

.hero {
    display: flex;
    justify-content:space-around;
    padding-top: 5em;
    margin: 3em;
}

.hero-sect h1 {
    color: white;
    font-weight: 900;
    font-size: 48px;
}
.hero-sect p{
    color: white;
    font-size: 18px;
}
.hero-sect{
   margin-left: 3em;
}


.hero-image img{
    width: 300px;
    height: auto;
    margin: 28px;
}
 .portfolio{
    display: flex;
    justify-content:space-around;
    margin: 55px;
 }


 .card img{
    border-radius: 12px;
    box-shadow:#3882F6;
    opacity: 90%;
      }

      .testimonial p{
        justify-content: space-around;
        padding: 1em;
        background-color: #E5E7EB;
        font-size: 36px;
        font-weight: light;
        font-style: italic;

      }
      .action{
        display: flex;
        justify-content: space-around;
        background-color: #3882F6;
        border: 20px;
        border-radius: 15px;
        padding: 10px;
        margin: 25px;
      }

      .signup{
     border-radius: 15px;
     margin: 3rem;
      }

      .signup-btn{
        background-color: #3882F6;
        color: white;
        border: 15px;
        border-radius: 5px;
        margin: 1em;
        padding: 15px;
        cursor: pointer;
      }
     .call-to{
        color: #F9FAF8;
        font-size: 25px;
        font-weight: 10px;
        padding: 10px;
     }
     .sign{
        border: 15rem;
        border-radius: 10px;
        padding: 15px;
        cursor: pointer;


     }

      .footer-nav{
        background-color: #1F2937;
        padding-top: 3em;
        padding-bottom: 3em;
        margin-top: 2em;
        color: #E5E7EB;
      }
    